.header {
  margin: 30px auto;
  border-radius: 20px;
  background: green;
  background-size: contain;
  position: relative;
  height: 34vw;
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
}
.header-content p {
  color: white;
  font-weight: 200;
}
.header-content h1 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-content button {
  border: none;
  color: #747474;
  background-color: white;
  font-size: max(1vw, 13px);
  padding: 10px 15px;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}
